:root {

    /* Primary */

    --Purple: hsl(259, 100%, 65%);
    --LightRed: hsl(0, 100%, 67%);

    /* Neutral */

    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lightGrey);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 90%;
    background-color: white;
    padding: 48px 24px;
    border-radius: 1.5rem;
    border-bottom-right-radius: 6rem;
}

/* BIRTHDAY FORM */

.birthday__form {
    border-bottom: 1px solid var(--lightGrey); 
    text-align: center;
}

.inputs__group {
    display: flex;
    flex: 1;
    justify-content: space-around;
    justify-content: center;
    gap: 1rem;
    
}

.bd__sec {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    /* justify-content: space-between; */
    gap: 4px;
    
}

.label {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.25em;
    text-align: left;
    text-transform: uppercase;
    color: var(--smokeyGrey)
}

input {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 12px 16px;
    border-radius: 6px;
    border: none;
    outline: 1px solid var(--lightGrey);
    color: var(--offBlack);
}

.error {
    display: none;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

/* BUTTON */

button {
    font-size: 0;
    padding: 20px;
    border-radius: 50%;
    border: none;
    position: relative;
    transform: translate(0, 50%);
    background-color: var(--Purple);
}

svg {
    width: 24px;
    height: 24px;
}

/* AGE DISPLAYED  */

.age__displayed {
    font-size: 56px;
    font-style: italic;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 63.5px;
}

.number {
    color: var(--Purple);
}


